<!DOCTYPE html>
<html>
  <head>
    
   {% load staticfiles %}
    <meta charset="utf-8">
    <title>Team DVM</title>
    <link rel="stylesheet" href="../../static/User/css/base.css">
    <link rel="stylesheet" href="../../static/User/css/button.css">
    <script src="../../static/User/js/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div class='contain'>
      <section class='home active'>
        <h1 class='title'>Home</h1>
        {% block body %}
        {% endblock %}
      </section>
      <section class='about'>
        <h1 class='title'>About</h1>
      </section>
      <section class='work'>
        <h1 class='title'>Register</h1>
        {% block register %}
        {% endblock %}
      </section>
    </div>
    <a class='toggle' href='#'>
      <span class='bar'></span>
      <span class='bar'></span>
      <span class='bar'></span>
    </a>

  </body>
  <script src="../../static/User/js/nav.js" charset="utf-8"></script>
</html>
