<!DOCTYPE html>
<html>
<head>
	<title>
	{% block title %}
		Registration
	{% endblock %}
	</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'Games/style.css' %}" />

	<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet"type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body style="background-color:powderblue; background-image: none">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- title -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'User:index' %}">
					<strong>HOME</strong>
				</a>
			</div>

			<!-- Items -->
			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav">
					<li class="">
						<a href="{% url 'User:developer-detail' %}">
							<span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>&nbsp;
							<strong>Developers</strong>
						</a>
					</li>
					<li class="">
						<a>
							<span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>&nbsp;
								<strong><font color=grey>Users</font></strong>
						</a>
					</li>
				</ul>
			

			</div>
		</div>
	</nav>

{% block body %}
{% endblock %}
</body>
</html>
