<!DOCTYPE html>
<html style="height: 100vh !important;">
<head>
	<title>
	{% block title %}
		Registration
	{% endblock %}
	</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'Games/style.css' %}" />

	<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet"type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style media="screen">
		input[type="file"] {
			width: 154px;
		}
	</style>
</head>
<body style="background-color:#4CAF50; background-image: none; font-family: 'Raleway', sans-serif !important; height: 100vh;">
	<nav class="navbar" style="padding: 15px 30px; margin-bottom: 0;">
		<div class="container-fluid">
			<!-- title -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'User:index' %}">
					<span style="color: #fff; font-size: 20px;">Home</span>
				</a>
			</div>

			<!-- Items -->
			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav">
					<li>
						<a href="{% url 'User:developer-detail' %}" style="background: transparent !important;">
							<span style="color: #fff; font-size: 20px;">Developers</span>
						</a>
					</li>
					<li class="">
						<a style="background: transparent !important;">
							<span style="color: rgba(200,200,200,0.9); font-size: 20px;">Users</span>
						</a>
					</li>
				</ul>

				<form class="navbar-form navbar-left" role="search" method="get" action="">
					<div class="form-group">
					<input type="text" class="form-control" name="q" value="" style="background: transparent; border: 2px solid white">
					</div>
					<button type="submit" class="btn btn-default" style="color: #4CAF50">Search</button>
				</form>

				<ul class="nav navbar-nav navbar-right">


					{% if user.is_authenticated %}

					<li class="">
						<a href="{% url 'User:developer-detail' %}" style="background: transparent">
							<span style="color: #fff; font-size: 20px;">About Me</span>
						</a>
					</li>
					<li class="">
						<a href="{% url 'User:logout' %}" style="background: transparent">
							<span style="color: #fff; font-size: 20px;">Logout</span>
						</a>
					</li>

					{% else %}
					<li class="">
						<a href="{% url 'User:register' %}" style="background: transparent">
							<span style="color: #fff; font-size: 20px;">Register</span>
						</a>
					</li>
					<li class="">
						<a href="{% url 'User:login' %}" style="background: transparent">
							<span style="color: #fff; font-size: 20px;">Log In</span>
						</a>
					</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>
<div style="height: calc(100% - 100px)">
	<div style="display: flex; height: 100%; align-items: center; justify-content: center;">
	<div style="display: flex; align-items: center">
	<div style="width:400px; background: #fff; padding: 25px 0; float: left; border-radius: 10px;">
		<center>
			<div style="background: url({{ developer.developer_logo.url }}) center no-repeat; background-size: cover; width: 350px; height: 350px;"></div>
		</center>
			<h1 class="text-center" style="line-height: auto">{{developer.developer_name}}</h1>
			<h3 class="text-center">Headquarters : {{developer.developer_headquarters}}</h3>
			<h4 class="text-center">Address : {{developer.developer_address}}</h4>
			<h5 class="text-center">Contact : {{developer.developer_contact}}</h5>
	</div>
	<div style="width:400px; background: #fff; padding: 25px 0; float: left; margin-left: 20px; border-radius: 10px">
		<center>
		<div style="width: 150px;">
			<h4>Specialization : </h4>
			<ol>
			{% for tag in developer.developer_tag_list %}
					<li style="color:black!important;">{{tag}}</li>
			{% endfor %}
			</ol>
		</div>
		</center>
	</div>
	</div>
	</div>
</div>
</body>
</html>
