{% extends 'User/base3.html' %}
{% block title %}Register{% endblock %}
{% block developers_active %}active{% endblock %}


{% block body %}
{% if registered %}
                <A href="{% url 'User:index' %}">We</A> say: thank you for registering.
{% else %}
        <div class="container-fluid">
	<div class="row">

		<div class="col-sm-12 col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
				<strong><h3>Register as a New Developer!</h3></strong>
				{% if error_message %}
					<p><strong>{{ error_message}} </strong></p>
				{% endif %}
					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% include 'User/form-template.html' %}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}